Options -MultiViews
RewriteEngine On
RewriteBase /jpineda/futresult/

RewriteRule ^futresult-api/public/index\.php/api/favoritos/?$ futresult-api/public/favoritos.php [L,QSA]
RewriteRule ^futresult-api/public/index\.php/api/favoritos/([0-9]+)/?$ futresult-api/public/favoritos.php?id=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
